body{
margin: 0;
padding: 0;
font-family:'Montserrat', sans-serif;
background-color: rgba(7, 122, 230, 0.808);
}

header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

main {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

h1{
    font-size: 72px;
}

.button-group, h4 {
    max-width: 40%;
}

a {
    text-decoration: none;
    color: inherit;
}
input {
    max-width: 300px;
}
